<button class="w-100 updateBtn assetBtn" data-toggle="modal" data-target="#assetModal" data='{{{unobjectify this}}}'> 
    <span data='{{{unobjectify this}}}'>{{description}}</span>
    <i class="fas fa-times assetDelete" data='{{{unobjectify this}}}'></i>
</button>