<button class="w-100 updateBtn apportionBtn"
 {{!-- data-toggle="modal"  --}}
 {{!-- data-target="#assetApportionModal"  --}}
 data='{{{unobjectify this}}}'> 
    <span data='{{{unobjectify this}}}'>{{apportion_instructions}}</span>
    <i class="fas fa-times assetApportionDelete" data='{{{unobjectify this}}}'></i>
</button>