{{!↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ assetModal ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓}}
<div class="modal fade custom-modal" id="assetModal" tabindex="-1" role="dialog" aria-labelledby="project-modal-form" aria-hidden="true">
  <div class="modal-dialog modal-lg"> {{! model assets header added by jack}}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assetModalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form id="asset-form">
        <div class="modal-body">
          <div class="form-group"> {{! jack added form for asset ID please check  }}
            <label>Asset ID</label>
            <input type="text" id="assetId" class="form-control"/>
          </div>

          <div class="form-group"> {{! jack added form asset description }}
            <label>Asset Description *</label>
            <input type="text" id="assetDescription" class="form-control" required />
          </div>

            <div class="form-group"> {{! jack added form for  asset value }}
              <label>Asset Type</label>
              <input type="text" id="assetType" class="form-control" enabled = required />
            </div>

          <div class="form-group"> {{! jack added form for  asset value }}
            <label>Asset value *</label>
            <input type="number" id="assetValue" class="form-control" required />
          </div>

          <div class="modal-footer" id="assetModalFooter"> {{!asset model save button}}
            <button type="submit" class="btn btn-light" id="addAssetBtn" >add</button>
          </div>

        </div>
      </form>  
    </div> 
  </div>     
</div>

