<button class="w-100 updateBtn beneficiaryBtn" data-toggle="modal" data-target="#beneficiaryModal" data='{{{unobjectify this}}}'> 
    <span data='{{{unobjectify this}}}'>{{name}}</span>
    <i class="fas fa-times beneficiaryDelete"></i>
</button>