<button class="w-100 updateBtn beneficiaryBtn" data-toggle="modal" data-target="#beneficiaryModal" data='{{{unobjectify this}}}'> 
    <span data='{{{unobjectify this}}}'>{{name}}</span>
<<<<<<< HEAD
    <i class="fas fa-times"></i>
</button>
=======
    <i class="fas fa-times beneficiaryDelete"></i>
</button>
>>>>>>> main
