<header class="header">
  <div class="welcome">Asset</div>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="#">Preview</a></li>
    <li><a href="#" id="saveBtn">Save</a></li>
  </ul>
</header>

<div class="row">

</div>

  