<header class="header">
      
        <div class="text">
          Be done in as little as 10 minutes. Don't wait 'till it's too late...
        </div>
        <ul class="menu">
          <li><a href="/home" class="menu-btn">Home</a></li>
          <li><a href="/about" class="menu-btn">About</a></li>
          {{!-- <li><a href="#" class="menu-btn">Guide</a></li> --}}
          <li><a href="https://legislation.nsw.gov.au/view/whole/html/inforce/current/act-2006-080" target="_blank" ="menu-btn">Legal</a></li>
          {{!-- <li><a href="#" class="menu-btn">Testimonials</a></li> --}}
          
        </ul>
        
      
    </header>
    
    <!-- home section start -->
    <section class="home" id="home">
      <div class="max-width">
        <div class="home-content">
          <div class="text-1">Welcome to</div>
          <div class="logo-2">Thy<span>Will</span></div>
          <div class="text-2">Your Popular Will Drafting Tool</div>
          <div class="text-2">We are <span class="typing"></span></div>
          <div>
            <button id="startBtn" data-toggle="modal" data-target="#signUpModal"><i class="fas fa-pen-fancy"></i> Get Started</button>
            <button id="modalBtn" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i></i> Account</button>
          </div>  
        </div>
      </div>
    </section>

{{> login-modal}}

{{> signup-modal}}

{{> alert-modal}}


    <script src="/assets/scripts/login.js"></script>
    {{#if logged_in}}
    <script src="/assets/scripts/logout.js"></script>
    {{/if}}