<header class="header">
      
        <div class="text">
          some text here
        </div>
        <ul class="menu">
          <li><a href="#" class="menu-btn">Home</a></li>
          <li><a href="#" class="menu-btn">About</a></li>
          <li><a href="#" class="menu-btn">Guide</a></li>
          <li><a href="#" class="menu-btn">Account</a></li>
          <li><a href="https://legislation.nsw.gov.au/view/whole/html/inforce/current/act-2006-080" target="_blank" ="menu-btn">Legal</a></li>
          <li><a href="#" class="menu-btn">Testimonials</a></li>
          
        </ul>
        
      
    </header>
    
    <!-- home section start -->
    <section class="home" id="home">
      <div class="max-width">
        <div class="home-content">
          <div class="text-1">Welcome to</div>
          <div class="logo">Thy<span>Will</span></div>
          <div class="text-2">An Easy Will Generator</div>
          <div class="text-2">We are <span class="typing"></span></div>
          <div>
            <button id="startBtn"><i class="fas fa-pen-fancy"></i> Get Started</button>
            <button id="modalBtn" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i></i> Login</button>
          </div>  
        </div>
      </div>
    </section>

    <div class="modal fade custom-modal" id="loginModal" tabindex="-1" role="dialog"
        aria-labelledby="project-modal-form" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login or Sign Up<span class="flash" id="validateMessage"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="login-form">
                    <div class="modal-body">
                      <div class="form-group">
                          <label for="emailInput">Email:</label>
                          <input type="email" id="email-login" class="form-control" required />
                      </div>
                      <div class="form-group">
                        <label for="pwInput">Password:</label>
                        <input type= "password" id="password-login" class="form-control" required />
                      </div>
                      </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light" id="signBtn">Sign Up</button>
                        <button type="submit" class="btn btn-light" id="loginBtn">Login</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

    <script src="/assets/scripts/login.js"></script>
    {{#if logged_in}}
    <script src="/assets/scripts/logout.js"></script>
    {{/if}}