

<div class="user card-columns container align-items-center">
            <div class="card-text logo" style="font-size:xx-large;">Meet the <span>Team</span></div>
      <div class="card text-center w-50">
        <div class="card-body">
          <h5 class="card-title">Mark Forester</h5>
          <hr />
          <p class="card-text">Role: Managing Director</p>
          <hr />
          <p class="card-text">
            Email:
            <a href="mailto:markforester93@gmail.com"
              >markforester93@gmail.com</a
            >
          </p>
        <hr />
           <p class="card-text">
            Github: <a href="http://www.github.com/Forester93">Forester93</a>
          </p>
        </div>
      </div>

      <div class="card text-center w-50">
        <div class="card-body">
          <h5 class="card-title">Tom Chappell</h5>
          <hr />
          <p class="card-text">Role: Director of Operations</p>
          <hr />
          <p class="card-text">
            Email:
            <a href="mailto:thomas.chappell@outlook.com"
              >thomas.chappell@outlook.com</a
            >
          </p>
          <hr />
          <p class="card-text">
            Github: <a href="http://www.github.com/choonchy">choonchy</a>
          </p>
        </div>
      </div>
      <div class="card text-center w-50">
        <div class="card-body">
          <h5 class="card-title">Zhou (Joe) Tian</h5>
          <hr />
          <p class="card-text">Role: Chief Technical Officer</p>
          <hr />
          <p class="card-text">
            Email:
            <a href="mailto:egglord076@gmail.com">egglord076@gmail.com</a>
          </p>
          <hr />
          <p class="card-text">
            Github:
            <a href="http://www.github.com/ZhouTian0716">ZhouTian0716</a>
          </p>
        </div>
      </div>
      <div class="card text-center w-50">
        <div class="card-body">
          <h5 class="card-title">Jack Ritchie</h5>
          <hr />
          <p class="card-text">Role: Marketing and PR Manager</p>
          <hr />
          <p class="card-text">
            Email: <a href="mailto:jack@email.com">jack@email.com</a>
          </p>
          <hr />
          <p class="card-text">
            Github: <a href="http://www.github.com/jitchie">jitchie</a>
          </p>
        </div>
      </div>
    </div>