@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --themeColor1: rgb(72, 61, 139, 0.9);
  --themeColor2: rgb(72, 61, 139, 0.1);
  --themeColor3: #f0fff0;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  width: 1350px;
  margin: auto;
}
/* ======================  Common stylings ====================== */
.logo,
.logo-2 {
  font-size: 75px;
  font-weight: 600;
  font-family: "Roboto", cursive;
}
.logo span,
.logo-2 span {
  color: var(--themeColor1);
}
button {
  background: var(--themeColor1);
  color: white;
  padding: 6px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
button:hover {
  color: var(--themeColor1);
  border: 1px solid var(--themeColor1);
  background-color: var(--themeColor2);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  padding: 0 25px;
  background-color: var(--themeColor1);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 10px;
  transition: all 0.3s ease;
}
.header .menu {
  margin: 15px 0;
}
.header .menu li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}
.header .menu li a {
  display: block;
  border-radius: 5px;
  padding: 5px;
  transition: color 0.3s ease;
  text-decoration: none;
  color: inherit;
}
.header .menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

footer {
  background-color: var(--themeColor1);
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 25px 0;
  font-family: "Montserrat", sans-serif;
}

/* ======================  Welcome page stylings ====================== */
.home {
  display: flex;
  background: url("/assets/images/welcome1.jpg") no-repeat center;
  height: 100vh;
  color: black;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 25px;
}

.home .home-content .text-2 {
  font-size: 35px;
  margin: 5px 0;
}
.home .home-content .text-2 span {
  color: var(--themeColor1);
  font-weight: bolder;
}
.home .home-content button {
  display: inline-block;
  background: var(--themeColor1);
  color: white;
  padding: 12px 20px;
  font-size: 25px;
  margin: 20px 15px 0 0;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* ======================  Profile page styling ====================== */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  min-width: 130px;
  z-index: 1;
}
.dropdown-content button {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: var(--themeColor1);
  padding: 5px 8px;
  text-decoration: none;
  text-align: left;
  display: block;
}
.dropdown-content button:hover {
  color: var(--themeColor1);
  background-color: var(--themeColor3);
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  background-size: cover;
  background-color: #080806;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
}
.box-1,
.box-2 {
  background-color: white;
  border-radius: 15;
  padding: 25px;
  margin-bottom: 25px;
}
.user .box-head {
  display: flex;
  align-items: center;
}
.user .box-head img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.box-1 .box-head p {
  font-size: 25px;
  font-weight: 600;
}

.card {
  margin: 2vw;
}

.box-2 {
  border-radius: 5px;
}
.box-2 .card .updateBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.box-2 .card .updateBtn span {
  text-align: left;
}
.box-2 .card {
  width: 300px;
  height: 600px;
  padding: 15px;
  border-radius: 8px;
  align-items: flex-start;
  background-color: var(--themeColor3);
  cursor: pointer;
  overflow-y: scroll;
  transition: all 0.3s ease;
}
::-webkit-scrollbar {
  width: 5px;
}

.box-2 .card:hover {
  animation-duration: 0.75s;
  animation-name: glow-black;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.box-2 .card .num {
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 2px dashed cadetblue;
}

.box-2 .card a {
  margin-top: auto;
  text-decoration: none;
  background: var(--themeColor1);
  color: white;
  padding: 6px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.box-2 .card a:hover {
  color: var(--themeColor1);
  border: 1px solid var(--themeColor1);
  background-color: var(--themeColor2);
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 10px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--themeColor1) !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: var(--themeColor1) !important;
}

.carousel {
  max-width: 1400px;
}

.logo {
  background-color: white;
  padding: 1vw;
  margin-bottom: 2vw;
  border-radius: 5px;
}

.logo:hover {
  animation-duration: 0.75s;
  animation-name: glow;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
/*the glow effect on the borders*/
@keyframes glow {
  0% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgba(255, 6, 255, 0.1);
  }
  50% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgba(195, 0, 255, 0.75);
  }
  100% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgb(255, 0, 212);
  }
}

@keyframes glow-black {
  0% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgba(128, 102, 128, 0.1);
  }
  50% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgba(61, 54, 63, 0.75);
  }
  100% {
    box-shadow: 1.75px 1.75px 20px 1.25px rgb(14, 13, 14);
  }
}


@media (max-width: 768px){
  .max-width {
    width: 668px;
  }
  .logo {
    font-size: 40px;
  }
}

@media (max-width: 414px){
  .max-width {
    width: 314px;
  }
  .box-2 .card {
  width: 250px;
  }
  .logo {
    font-size: 36px;
  }
}

